# Copy this file to credentials.yaml and put correct username/password/uki.
# There shouldn't be any real credentials in the repo.

username: account@example.com
password: correct horse battery staple
uki:
